*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}
body{
    width: 100%;
}
p{
    text-align: center;
    line-height: 2;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
